<html>
<head>
    <title>Sandbox | Loading...</title>
</head>
<body>

    <div id="react-root">
        You need javascript to view this page
    </div>

    <!-- runtime javascript configuration -->
    <script type="text/javascript">
        window.cfg = {{.Config}};
        {{if .Data}} 
        window.preLoadedData = {{.Data}};
        {{end}}
    </script>

    <script src="/vendor/dependancy-A.min.js"></script>
    <script src="/vendor/dependancy-B.min.js"></script>
    <script src="/vendor/dependancy-C.min.js"></script>
    
    {{if .IsDev}}
    <script src="/js/app.js"></script>
    {{else}}
    <script src="/js/app.min.js"></script>
    {{end}}

</body>
</html>